PORT=4002
NODE_ENV=development

JWT_SECRET_ACCESS=your_access_secret
JWT_SECRET_REFRESH=your_refresh_secret
JWT_SECRET_RESET=your_reset_secret

DB_HOST=auth-db
DB_PORT=5432

POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password
POSTGRES_DB=authdb

RABBITMQ_URL=amqp://user:password@rabbitmq:5672
RABBITMQ_QUEUE=auth_queue
RMQ_EVENTS_QUEUE_NOTIFICATIONS=events.notifications
RMQ_EVENTS_QUEUE_AUTHZ=events.user-organization

REDIS_HOST=redis
REDIS_PORT=6379

GOOGLE_CLIENT_ID=your_google_client_id

VERIFY_EMAIL_URL=http://localhost:3000/auth/verify-email
RESET_PASSWORD_URL=http://localhost:3000/auth/reset-password