PORT=3003

NODE_ENV=development

# JWT secret 32
JWT_SECRET_ACCESS=
JWT_SECRET_REFRESH=

# DB configuration
DB_PORT=
DB_HOST=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
# RABBITMQ configuration
RABBITMQ_URL=
RABBITMQ_QUEUE=

#REDIS
REDIS_HOST=
REDIS_PORT=